.detail-weather {
  width: 100%;
  margin: 3rem 0;
  background-color: #fff;
  box-sizing: border-box;
  padding: 8px;
  height: auto;
  border-radius: 0.3rem;
}

.detail-weather p {
  color: #6c757d;
  font-size: 1.25rem;
  margin-bottom: 16px !important;
  font-weight: 500;
}

.detail-status {
  width: 100%;
  display: flex;
}

.detail-status div {
  width: 49%;
  padding: 0 12px;
  margin: 0 -12px;
}

.detail-status p {
  font-size: 1rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media all and (max-width: 765px) {
  .detail-weather p {
    font-size: 1rem;
  }

  .detail-status p {
    font-size: 0.85rem;
  }
}

@media all and (max-width: 480px) {
  .detail-status {
    display: block;
  }

  .detail-status div {
    width: 100%;
  }

  .detail-weather p {
    font-size: 1.25rem;
  }

  .detail-status p {
    font-size: 1rem;
  }
}
